
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  text-align: center;
  padding: 1px;
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Center the employee detail table on the screen */
.employee-detail {
  display: box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Style the card */
.card {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  text-align: left;
  width: 80%; /* Adjust the width as needed */
}

/* Style the rows with alternating background colors */
/* .table-striped tbody tr:nth-child(even) {
  background-color: #f2f2f2;
} */



/* Style the "Add Employee" row */
.add-employee .btn-primary {
  background-color: rgb(95, 88, 88);
  color: rgb(255, 255, 255); /* Optionally set text color */
  border-color: black; /* Optionally set border color */
}

/* Center-align the table within the employee-detail section */
.employee-detail table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

/* Style the table header row */
.employee-detail th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

/* Style the table data rows */
.employee-detail tr:nth-child(odd) {
  background-color: #ffffff; /* White background for odd rows */
}

.employee-detail tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray background for even rows */
}

/* Style the table cells */
.employee-detail td {
  padding: 8px;
}

/* Style the labels within table cells */
.employee-detail td strong {
  font-weight: bold;
}
